<div ng-controller="PostController"> 
    <form name="postArea" novalidate>
        {{1+2}}
    Type your post here:
        <input  type="text" name="postBox" ng-model="post.content" ng-required="true" ng-maxlength="10"/>
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.required">Mandatory Field</span>     
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.maxlength">Maximum of 10 characters</span>

    </form>
    <button><a href="#"  ng-click="">Post</a> </button>
    <h1> {{post.content}} </h1>
    <!-- Refer to model as post.content NOT $scope.post.content-->
</div>
